@mixin fade($type: hide) {
  @if $type ==hide {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    pointer-events: none;
  } @else if $type ==show {
    opacity: 1;
    visibility: visible;
    transition: all 0.5s;
    pointer-events: all;
  }
}
