@mixin flex-center($flex: flex, $ai: center, $jc: center) {
  display: if($flex!=i, $flex, null);
  align-items: if($ai!=i, $ai, null);
  justify-content: if($jc!=i, $jc, null);
}
@mixin flex-between($flex: flex, $ai: center, $jc: space-between) {
  display: if($flex!=i, $flex, null);
  align-items: if($ai!=i, $ai, null);
  justify-content: if($jc!=i, $jc, null);
}
